CompileFlags:
    CompilationDatabase: build/
    Add: [
        -std=c23,
        -xc,
    ]
    Compiler: clang
---
Diagnostics:
    # Due to a bug in clangd intellisense always thinks pragma pack is unterminated.
    Suppress: pragma-pack
    UnusedIncludes: None